[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/simple-style"]
	path = themes/simple-style
	url = git@github.com:yanlinlin82/simple-style.git
